version: '3.1'

services:
  db:
    image: postgres:12-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: mypassword
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - featurehub-ps-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
volumes:
  featurehub-ps-data:
