<Configuration packages="cd.connect.logging" verbose="true">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!--<ConnectJsonLayout/>-->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %logger{36} - %msg%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<AsyncLogger name="todo" level="debug"/>
<!--		<AsyncLogger name="org.glassfish" level="trace"/>-->
		<AsyncLogger name="jersey-logging" level="trace"/>

		<AsyncRoot level="info">
			<AppenderRef ref="STDOUT"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
