site:
  title: FeatureHub Docs
  url: https://docs.featurehub.io
  start_page: featurehub::index.adoc
  robots: allow
  keys:
    google_analytics: 'G-HDCKQVH0CY'
antora:
  extensions:
    - require: '@antora/lunr-extension'
      index_latest_only: true
content:
  sources:
    - url: https://github.com/featurehub-io/featurehub
      branches:
        - main
      tags:
        - docs-multi-version-support
        - v1.5.7
        - v1.5.8
        - v1.5.9
        - v1.5.10
        - v1.6.0
        - v1.6.1
        - v1.6.2-docpatch
        - v1.6.3
        - v1.7.0
        - v1.7.1
        - v1.8.0
        - v1.8.1
        - v1.8.2
        - v1.9.0
        - v1.9.1
        - v1.9.2
      start_path: docs
    - url: https://github.com/featurehub-io/featurehub-saas-docs
      branches:
        - master
      start_path: docs
urls:
  latest_version_segment: latest
  latest_version_segment_strategy: redirect:to
ui:
  bundle:
    url: https://github.com/featurehub-io/docs-ui/blob/master/build/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./supplemental_ui

